.help-section#creating-tocs
  %h2= t('help.sections.creating_tocs.title')

  %p= t('help.sections.creating_tocs.intro')

  %h3= t('help.sections.creating_tocs.search_books_title')
  %p= t('help.sections.creating_tocs.search_books_description')
  %ul
    %li= t('help.sections.creating_tocs.search_by_title')
    %li= t('help.sections.creating_tocs.search_by_author')
    %li= t('help.sections.creating_tocs.search_general')

  %h3= t('help.sections.creating_tocs.select_book_title')
  %p= t('help.sections.creating_tocs.select_book_description')

  %h3= t('help.sections.creating_tocs.browse_scans_title')
  %p= t('help.sections.creating_tocs.browse_scans_description')
  %ul
    %li= t('help.sections.creating_tocs.mark_toc_pages')
    %li= t('help.sections.creating_tocs.no_explicit_toc')

  %h3= t('help.sections.creating_tocs.transcribe_title')
  %p= t('help.sections.creating_tocs.transcribe_description')

  .help-callout.help-callout-success
    %h4= t('help.sections.creating_tocs.tip_title')
    %p= t('help.sections.creating_tocs.tip_use_ocr')
