.help-section#faq
  %h2= t('help.sections.faq.title')

  .help-faq-item
    %h3.help-faq-question= t('help.sections.faq.q1_question')
    %p.help-faq-answer= t('help.sections.faq.q1_answer')

  .help-faq-item
    %h3.help-faq-question= t('help.sections.faq.q2_question')
    %p.help-faq-answer= t('help.sections.faq.q2_answer')

  .help-faq-item
    %h3.help-faq-question= t('help.sections.faq.q3_question')
    %p.help-faq-answer= t('help.sections.faq.q3_answer')

  .help-faq-item
    %h3.help-faq-question= t('help.sections.faq.q4_question')
    %p.help-faq-answer= t('help.sections.faq.q4_answer')

  .help-faq-item
    %h3.help-faq-question= t('help.sections.faq.q5_question')
    %p.help-faq-answer= t('help.sections.faq.q5_answer')

  .help-faq-item
    %h3.help-faq-question= t('help.sections.faq.q6_question')
    %p.help-faq-answer= t('help.sections.faq.q6_answer')

  .help-faq-item
    %h3.help-faq-question= t('help.sections.faq.q7_question')
    %p.help-faq-answer= t('help.sections.faq.q7_answer')

  .help-footer
    %p= t('help.sections.faq.still_need_help')
    %p
      = t('help.sections.faq.contact_us')
      = link_to t('help.sections.faq.github_issues'), 'https://github.com/abartov/tocoe/issues', target: '_blank', class: 'btn btn-primary'
