.help-section#getting-started
  %h2= t('help.sections.getting_started.title')

  %p= t('help.sections.getting_started.intro')

  %h3= t('help.sections.getting_started.what_is_tocoe')
  %p= t('help.sections.getting_started.what_is_tocoe_description')

  %h3= t('help.sections.getting_started.how_to_contribute')
  %ol
    %li
      %strong= t('help.sections.getting_started.step1_title')
      %p= t('help.sections.getting_started.step1_description')
    %li
      %strong= t('help.sections.getting_started.step2_title')
      %p= t('help.sections.getting_started.step2_description')
    %li
      %strong= t('help.sections.getting_started.step3_title')
      %p= t('help.sections.getting_started.step3_description')
    %li
      %strong= t('help.sections.getting_started.step4_title')
      %p= t('help.sections.getting_started.step4_description')

  .help-callout.help-callout-info
    %h4= t('help.sections.getting_started.tip_title')
    %p= t('help.sections.getting_started.tip_description')
