.help-section#subjects
  %h2= t('help.sections.subjects.title')

  %p= t('help.sections.subjects.intro')

  %h3= t('help.sections.subjects.what_are_subjects_title')
  %p= t('help.sections.subjects.what_are_subjects_description')

  %h3= t('help.sections.subjects.imported_subjects_title')
  %p= t('help.sections.subjects.imported_subjects_description')

  %h3= t('help.sections.subjects.auto_match_title')
  %p= t('help.sections.subjects.auto_match_description')
  %ol
    %li= t('help.sections.subjects.auto_match_step1')
    %li= t('help.sections.subjects.auto_match_step2')
    %li= t('help.sections.subjects.auto_match_step3')
    %li= t('help.sections.subjects.auto_match_step4')

  %h3= t('help.sections.subjects.manual_add_title')
  %p= t('help.sections.subjects.manual_add_description')

  .help-callout.help-callout-success
    %h4= t('help.sections.subjects.why_important_title')
    %p= t('help.sections.subjects.why_important_description')
