- unless @results.blank?
  #multi-select-controls.mb-3
    = button_tag 'Multi-select', type: 'button', class: 'btn btn-default', id: 'toggle-multiselect'
    = form_tag create_multiple_tocs_path, method: :post, id: 'bulk-toc-form', style: 'display: none; margin-top: 10px;' do
      = button_tag 'Make TOCs for selected!', type: 'submit', class: 'btn btn-success btn-lg', id: 'bulk-create-btn'
  %table{ class: 'table table-striped', id: 'search-results-table' }
    %thead
      %tr
        %th.checkbox-column{style: 'display: none;'}
        %th Edition Key
        %th Title / Author
        %th Full-text Status
        %th Action
    %tbody
      - @results.each do |book|
        - edition = book.dig('editions', 'docs')&.first
        - edition_key = edition&.dig('key')&.split('/')&.last
        - can_make_toc = book['has_fulltext'] && book['ebook_access'] == 'public' && edition_key
        %tr
          %td.checkbox-column{style: 'display: none;'}
            - if can_make_toc
              = check_box_tag "book_ids[]", edition_key, false, class: 'book-checkbox', data: { title: book['title'], authors: Array(book['author_name']).join(', ') }
          %td
            %code= edition_key || book['key']
          %td
            %strong= book['title']
            %br
            - if book['author_name']
              %small.text-muted
                by #{Array(book['author_name']).join(', ')}
          %td
            - if book['has_fulltext']
              - if book['ebook_access'] == 'public'
                %span.label.label-success Public Full-Text
              - else
                %span.label.label-warning Full-Text (Restricted)
            - else
              %span.label.label-default Metadata Only
          %td
            - if can_make_toc
              = link_to 'Make ToC!', new_toc_path(:params => {ol_book_id: edition_key, from: :openlibrary}), class: 'btn btn-sm btn-primary'
            - elsif !edition_key
              %span.text-muted No edition available
            - else
              %span.text-muted No full-text
- else
  - if params[:search].present? || params[:title].present? || params[:author].present?
    %p.alert.alert-info Nothing found! Try adjusting your search terms or removing the full-text filter.
