- unless @results.blank?
  %table{ class: 'table' }
    - @results.each do |book|
      %tr
        %td= "#{book[:key]}"
        %td= "#{book.title} / #{book.author_name}" 
        %td
          - if book.has_fulltext
            = link_to 'Make ToC!', new_toc_path(:params => {book_uri: book[:key]})
          - else
            = '[metadata only]'
- else
  = "Nothing found!"
