.row
  .col-xs-12
    .search-header
      %h1= t('publications.search.title')
      %p.search-description= t('publications.search.description')

    .search-form-container
      = form_tag publications_search_path, :method => 'get', :id => 'publications_search' do
        / Main horizontal search bar
        .search-bar-horizontal
          .search-input-group
            = text_field_tag :search, params[:search], class: 'form-control search-input-main', placeholder: t('publications.search.form.general_search_placeholder')
            = submit_tag t('publications.search.form.search_button'), :name => nil, class: 'btn btn-primary btn-search'

          .search-actions
            %button.btn.btn-default{type: 'button', id: 'toggle-advanced', 'data-toggle' => 'collapse', 'data-target' => '#advanced-search'}
              %span.glyphicon.glyphicon-cog
              = t('publications.search.form.advanced_search')
            = button_tag t('publications.search.multi_select_button'), type: 'button', class: 'btn btn-default', id: 'toggle-multiselect', style: 'display: none;'

        / Advanced search collapsible section
        #advanced-search.collapse{class: (params[:title].present? || params[:author].present? || params[:source] == 'gutendex' || params[:fulltext_only] == '1') ? 'in' : ''}
          .advanced-search-panel
            .row
              .col-md-4
                .form-group
                  = label_tag :title, t('publications.search.form.title_search_label'), class: 'control-label-sm'
                  = text_field_tag :title, params[:title], class: 'form-control input-sm', placeholder: t('publications.search.form.title_search_placeholder')

              .col-md-4
                .form-group
                  = label_tag :author, t('publications.search.form.author_search_label'), class: 'control-label-sm'
                  = text_field_tag :author, params[:author], class: 'form-control input-sm', placeholder: t('publications.search.form.author_search_placeholder')

              .col-md-4
                .form-group
                  = label_tag :source, t('publications.search.form.source_label'), class: 'control-label-sm'
                  .source-radios
                    = label_tag 'source_openlibrary', class: 'radio-inline' do
                      = radio_button_tag :source, 'openlibrary', (@source.nil? || @source == 'openlibrary'), id: 'source_openlibrary'
                      = t('publications.search.form.source_openlibrary')
                    = label_tag 'source_gutendex', class: 'radio-inline' do
                      = radio_button_tag :source, 'gutendex', (@source == 'gutendex'), id: 'source_gutendex'
                      = t('publications.search.form.source_gutendex')

            .row
              .col-md-12
                .form-group#fulltext-only-group
                  = check_box_tag :fulltext_only, '1', params[:fulltext_only] == '1'
                  = label_tag :fulltext_only, t('publications.search.form.fulltext_only_label')
                  = help_tooltip t('publications.search.form.fulltext_only_tooltip')

    - if @num_results
      %p.text-muted
        = t('publications.search.form.results_found', count: @num_results)
        - if @total_pages && @total_pages > 1
          = "(#{t('publications.search.page_info', current: @current_page, total: @total_pages)})"

    #results
      != render partial: 'ol_results', locals: { :results => @results}

    - if @total_pages && @total_pages > 1
      .pagination-controls.text-center{style: 'margin: 20px 0;'}
        %nav
          %ul.pagination
            - if @current_page > 1
              %li
                = link_to '«', publications_search_path(search: params[:search], title: params[:title], author: params[:author], fulltext_only: params[:fulltext_only], source: params[:source], page: @current_page - 1)
            - else
              %li.disabled
                %span «

            - window_start = [@current_page - 2, 1].max
            - window_end = [window_start + 4, @total_pages].min
            - window_start = [window_end - 4, 1].max

            - if window_start > 1
              %li
                = link_to '1', publications_search_path(search: params[:search], title: params[:title], author: params[:author], fulltext_only: params[:fulltext_only], source: params[:source], page: 1)
              - if window_start > 2
                %li.disabled
                  %span ...

            - (window_start..window_end).each do |page|
              - if page == @current_page
                %li.active
                  %span= page
              - else
                %li
                  = link_to page, publications_search_path(search: params[:search], title: params[:title], author: params[:author], fulltext_only: params[:fulltext_only], source: params[:source], page: page)

            - if window_end < @total_pages
              - if window_end < @total_pages - 1
                %li.disabled
                  %span ...
              %li
                = link_to @total_pages, publications_search_path(search: params[:search], title: params[:title], author: params[:author], fulltext_only: params[:fulltext_only], source: params[:source], page: @total_pages)

            - if @current_page < @total_pages
              %li
                = link_to '»', publications_search_path(search: params[:search], title: params[:title], author: params[:author], fulltext_only: params[:fulltext_only], source: params[:source], page: @current_page + 1)
            - else
              %li.disabled
                %span »

    %p

:javascript
  $(document).ready(function() {
    var multiselectActive = false;

    // Hide/show fulltext_only checkbox based on source selection
    function updateFulltextOnlyVisibility() {
      var source = $('input[name="source"]:checked').val();
      if (source === 'gutendex') {
        $('#fulltext-only-group').hide();
      } else {
        $('#fulltext-only-group').show();
      }
    }

    // Initialize visibility on page load
    updateFulltextOnlyVisibility();

    // Update visibility when source changes
    $('input[name="source"]').change(function() {
      updateFulltextOnlyVisibility();
    });

    // Multi-select functionality is now handled in _ol_results partial

  });
