.row
  #sidebar{ class: 'col-xs-2' }
    sidebar here
  #content{ class: 'col-xs-10' }
    %h1= t('publications.search.title')
    %p= t('publications.search.description')
    = form_tag publications_search_path, :method => 'get', :id => 'publications_search' do
      .form-group
        = label_tag :search, t('publications.search.form.general_search_label')
        = text_field_tag :search, params[:search], class: 'form-control', placeholder: t('publications.search.form.general_search_placeholder')
      .form-group
        = label_tag :title, t('publications.search.form.title_search_label')
        = text_field_tag :title, params[:title], class: 'form-control', placeholder: t('publications.search.form.title_search_placeholder')
      .form-group
        = label_tag :author, t('publications.search.form.author_search_label')
        = text_field_tag :author, params[:author], class: 'form-control', placeholder: t('publications.search.form.author_search_placeholder')
      .form-group
        = check_box_tag :fulltext_only, '1', params[:fulltext_only] == '1'
        = label_tag :fulltext_only, t('publications.search.form.fulltext_only_label')
      = submit_tag t('publications.search.form.search_button'), :name => nil, class: 'btn btn-primary'
    - if @num_results
      %p.text-muted
        = t('publications.search.form.results_found', count: @num_results)
    #results
      != render partial: 'ol_results', locals: { :results => @results}
    %p

:javascript
  $(document).ready(function() {
    var multiselectActive = false;

    // Toggle multi-select mode
    $('#toggle-multiselect').click(function() {
      multiselectActive = !multiselectActive;

      if (multiselectActive) {
        $('.checkbox-column').css('display', 'table-cell');
        $(this).addClass('btn-primary').removeClass('btn-default');
        $(this).text('Exit Multi-select');
      } else {
        $('.checkbox-column').css('display', 'none');
        $('.book-checkbox').prop('checked', false);
        $(this).removeClass('btn-primary').addClass('btn-default');
        $(this).text('Multi-select');
      }
      updateBulkButton();
    });

    // Update bulk create button visibility
    function updateBulkButton() {
      var checkedCount = $('.book-checkbox:checked').length;
      var shouldShowBulkButton = multiselectActive && checkedCount > 0;
      if (shouldShowBulkButton) {
        $('#bulk-create-btn').show();
        $('#bulk-create-btn').text('Make TOCs for ' + checkedCount + ' selected!');
      } else {
        $('#bulk-create-btn').hide();
      }
    }

    // Listen for checkbox changes
    $(document).on('change', '.book-checkbox', updateBulkButton);

    // Collect checked book IDs and inject into the bulk form before submission
    $('#bulk-toc-form').on('submit', function(e) {
      // Gather checked checkboxes values
      var checked = $('.book-checkbox:checked').map(function() { return this.value; }).get();

      if (checked.length === 0) {
        // No books selected - prevent submit and show an inline message
        e.preventDefault();
        alert('Please select at least one book to create TOCs for.');
        return false;
      }

      // Remove any previously injected inputs to avoid duplicates
      $(this).find('input[name="book_ids[]"]').remove();

      // Inject hidden inputs for each selected book id so Rails receives `book_ids[]`
      checked.forEach(function(id) {
        $('<input>').attr({ type: 'hidden', name: 'book_ids[]', value: id }).appendTo('#bulk-toc-form');
      });

      // Allow the form to submit normally with the injected inputs
      return true;
    });
  });
