- unless @results.blank?
  %table
    - @results.each do |book|
      %tr
        %td= "#{book[:key]}"
        %td= "#{book.title} / #{book.author_name} #{book.has_fulltext ? "[ebook]" : "metadata only"}"
        %td= link_to 'Make ToC!', works_details_path(:params => {olkey: book[:key]})
- else
  = "Nothing found!"
