.homepage-hero
  .container
    .row
      .col-md-10.col-md-offset-1
        .hero-content.text-center
          %h1.hero-title= t('home.index.app_name')
          %p.hero-subtitle= t('home.index.tagline')
          %p.hero-description= t('home.index.description')

          .hero-cta
            = link_to t('home.index.sign_in_button'), user_google_oauth2_omniauth_authorize_path, class: 'btn btn-primary btn-lg btn-hero', method: :post
            = link_to t('home.index.browse_tocs_button'), browse_tocs_path, class: 'btn btn-default btn-lg btn-hero-secondary'

.homepage-features
  .container
    .row.text-center
      .col-md-12
        %h2.section-title= t('home.index.how_it_works_title')

    .row
      .col-md-3.col-sm-6
        .feature-card
          .feature-icon
            %span.glyphicon.glyphicon-search
          %h3.feature-title= t('home.index.step_1_title')
          %p.feature-description= t('home.index.step_1_description')

      .col-md-3.col-sm-6
        .feature-card
          .feature-icon
            %span.glyphicon.glyphicon-pencil
          %h3.feature-title= t('home.index.step_2_title')
          %p.feature-description= t('home.index.step_2_description')

      .col-md-3.col-sm-6
        .feature-card
          .feature-icon
            %span.glyphicon.glyphicon-eye-open
          %h3.feature-title= t('home.index.step_3_title')
          %p.feature-description= t('home.index.step_3_description')

      .col-md-3.col-sm-6
        .feature-card
          .feature-icon
            %span.glyphicon.glyphicon-share-alt
          %h3.feature-title= t('home.index.step_4_title')
          %p.feature-description= t('home.index.step_4_description')

.homepage-about
  .container
    .row
      .col-md-8.col-md-offset-2.text-center
        %h2.section-title= t('home.index.about_title')
        %p.about-text
          = t('home.index.mmob_intro')
          %strong= t('home.index.mmob_name')
          = t('home.index.mmob_description')
        %p.about-text= t('home.index.cc0_notice')

        .about-links
          = link_to 'Learn More at aboutness.org', 'http://aboutness.org', target: '_blank', class: 'btn btn-link'
          |
          = link_to t('home.index.mmob_name'), 'https://meta.wikimedia.org/wiki/Massively-Multiplayer_Online_Bibliography', target: '_blank', class: 'btn btn-link'
