.container{style: 'margin-top: 50px;'}
  .row
    .col-md-8.col-md-offset-2
      .jumbotron
        %h1= t('home.index.app_name')
        %h2= t('home.index.tagline')
        %p.lead
          = t('home.index.description')
        %hr
        %p
          = t('home.index.mmob_intro')
          %strong= t('home.index.mmob_name')
          = t('home.index.mmob_description')
        %p
          = t('home.index.goal_intro')
        %ul
          %li= t('home.index.uses.research')
          %li= t('home.index.uses.cataloging')
          %li= t('home.index.uses.search')
          %li= t('home.index.uses.preservation')
        %p
          = t('home.index.cc0_notice')
        %hr
        - if user_signed_in?
          %p
            %strong= t('home.index.welcome_back', email: current_user.email)
          %p
            = link_to t('home.index.search_books_button'), publications_search_path, class: 'btn btn-primary btn-lg'
            = link_to t('home.index.view_tocs_button'), tocs_path, class: 'btn btn-info btn-lg', style: 'margin-left: 10px;'
          %p.text-muted
            %small= t('home.index.view_tocs_help')
        - else
          %p
            %strong= t('home.index.sign_in_prompt')
          = link_to t('home.index.sign_in_button'), user_google_oauth2_omniauth_authorize_path, class: 'btn btn-primary btn-lg', method: :post
      .panel.panel-default{style: 'margin-top: 30px;'}
        .panel-body
          %p.text-muted
            = t('home.index.learn_more')
            = link_to 'aboutness.org', 'http://aboutness.org', target: '_blank'
            |
            = link_to t('home.index.mmob_name'), 'https://meta.wikimedia.org/wiki/Massively-Multiplayer_Online_Bibliography', target: '_blank'
