.row
  #main{ class: 'col-xs-7'}
    = form_for @toc do |f|
      - if @toc.errors.any?
        #error_explanation
          %h2= t('tocs.form.error_message', count: @toc.errors.count)
          %ul
            - @toc.errors.full_messages.each do |msg|
              %li= msg
      %table{class: 'table'}
        %tr
          .field
            %td= f.label t('tocs.form.book_uri_label')
            %td= f.text_field :book_uri
        %tr
          .field
            %td= f.label t('common.labels.title')
            %td= f.text_field :title
        %tr
          .field
            %td= f.label t('tocs.form.authors_label')
            %td= render partial: 'authors', locals: {:authors => @authors}
        %tr
          .field
            %td= f.label t('tocs.form.toc_body_label')
            %td= f.text_area :toc_body, rows:20, cols: 40, id: 'toc_area'
        %tr
          .field
            %td= f.label t('common.labels.comments')
            %td= f.text_area :comments
        %tr
          .actions
            %td= f.submit t('common.actions.save')
  - if @toc.persisted? && !@toc.empty?
    #ocr{ class: 'col-xs-5'}
      = form_tag({action: 'do_ocr'}, {remote: true, id: 'ocr_form'}) do
        = hidden_field_tag :toc_id, @toc.id
        %table{class: 'table'}
          %tr
            .field
              %td= label_tag t('tocs.form.ocr_section.urls_label')
              %td
                = text_area_tag :ocr_images, @toc.toc_page_urls
                - if @toc.toc_page_urls.present?
                  %small.text-muted
                    = t('tocs.form.ocr_section.prefilled_help')
          %tr
            .actions
              %td
                = submit_tag t('tocs.form.ocr_section.attempt_button'), id: 'ocr_submit'
                = button_tag(type: 'button', id: 'paste_ocr', style: 'margin-left: 10px; display: none;') do
                  = t('tocs.form.ocr_section.paste_button')
                #ocr_working.text-muted{style: 'display:none; margin-top: 10px;'}
                  %em= t('tocs.form.ocr_section.processing')
          %tr
            %td
              #results{style: 'max-height: 400px; overflow-y: auto; border: 1px solid #ddd; padding: 5px;'}
      :javascript
        $('#paste_ocr').click(function() {
          $('#toc_area').val($('#results').text());
        });

        $('#ocr_form').on('ajax:before', function() {
          $('#ocr_submit').prop('disabled', true);
          $('#ocr_working').show();
          $('#paste_ocr').hide();
          $('#results').html('');
        });
  - elsif @toc.persisted? && @toc.empty?
    #browse_scans_prompt{ class: 'col-xs-5'}
      .alert.alert-info
        %p
          %strong= t('tocs.form.ocr_section.no_pages_marked_title')
        %p
          = link_to t('tocs.form.ocr_section.browse_scans_button'), browse_scans_toc_path(@toc), class: 'btn btn-primary btn-lg'
        %p.text-muted
          = t('tocs.form.ocr_section.browse_scans_help')
