%h1= t('tocs.index.title')

- if params[:status].present?
  %p.text-muted
    = t('tocs.index.showing_status', status: params[:status])
    = link_to t('tocs.index.show_all_needing_work_link'), tocs_path, class: 'btn btn-sm btn-default'
- elsif params[:show_all] == 'true'
  %p.text-muted
    = t('tocs.index.showing_all')
    = link_to t('tocs.index.show_only_needing_work_link'), tocs_path, class: 'btn btn-sm btn-default'
- else
  %p.text-muted
    = t('tocs.index.showing_needs_work')
    = link_to t('tocs.index.show_all_link'), tocs_path(show_all: true), class: 'btn btn-sm btn-default'

%table.table.table-striped
  %thead
    %tr
      %th= sortable_column('title', t('tocs.index.headers.title'))
      %th= t('tocs.index.headers.uri')
      %th= t('tocs.index.headers.toc')
      %th= sortable_column('status', t('tocs.index.headers.status'))
      %th= sortable_column('created_at', t('tocs.index.headers.created'))
      - if current_user&.admin?
        %th= sortable_column('contributor_id', t('tocs.index.headers.contributor'))
        %th= sortable_column('reviewer_id', t('tocs.index.headers.reviewer'))
      %th= t('tocs.index.headers.comments')
      %th{colspan: 2}= t('tocs.index.headers.actions')

  %tbody
    - @tocs.each do |toc|
      %tr
        %td= link_to toc.title, toc
        %td= toc.book_uri
        %td= toc.toc_body
        %td= toc.status
        %td= toc.created_at.strftime('%Y-%m-%d')
        - if current_user&.admin?
          %td= toc.contributor&.name || toc.contributor_id
          %td= toc.reviewer&.name || toc.reviewer_id
        %td= toc.comments
        %td= link_to t('common.actions.edit'), edit_toc_path(toc)
        - if current_user&.admin?
          %td= link_to t('common.actions.destroy'), toc, :method => :delete, :data => { :confirm => t('common.actions.confirm_destroy') }

%br

= link_to t('tocs.index.search_publications'), publications_search_path
