%h1 Listing TOCs

- if params[:status].present?
  %p.text-muted
    Showing TOCs with status: #{params[:status]}
    = link_to 'Show all TOCs needing work', tocs_path, class: 'btn btn-sm btn-default'
- elsif params[:show_all] == 'true'
  %p.text-muted
    Showing all TOCs including verified ones.
    = link_to 'Show only TOCs needing work', tocs_path, class: 'btn btn-sm btn-default'
- else
  %p.text-muted
    Showing TOCs that need work (excluding verified).
    = link_to 'Show all TOCs', tocs_path(show_all: true), class: 'btn btn-sm btn-default'

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th URI
      %th ToC
      %th Status
      %th Contributor
      %th Reviewer
      %th Comments
      %th
      %th
      %th

  %tbody
    - @tocs.each do |toc|
      %tr
        %td= toc.title
        %td= toc.book_uri
        %td= toc.toc_body
        %td= toc.status
        %td= toc.contributor_id
        %td= toc.reviewer_id
        %td= toc.comments
        %td= link_to 'Show', toc
        %td= link_to 'Edit', edit_toc_path(toc)
        %td= link_to 'Destroy', toc, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Toc', new_toc_path
