%p#notice= notice

%p
  %b Book title and URI:
  = "#{@toc.title} - #{@toc.book_uri}"
%p
  %b Toc body:
  != @toc.toc_body.gsub("\n",'<br/>') # TODO: make safe
%p
  %b Status:
  = @toc.status
- if @toc.toc_page_urls.present?
  %p
    %b Marked TOC Pages:
    = @toc.toc_page_urls.split("\n").count
    pages
- if @toc.no_explicit_toc
  %p
    %b No explicit table of contents
%p
  %b Contributor:
  = @toc.contributor_id
%p
  %b Reviewer:
  = @toc.reviewer_id
%p
  %b Comments:
  = @toc.comments
%hr
= render partial: 'manifestations/show', locals: { manifestation: @manifestation }
= link_to 'Browse Scans', browse_scans_toc_path(@toc), class: 'btn btn-primary'
= link_to 'Edit', edit_toc_path(@toc)
\|
= link_to 'Back', tocs_path
