%h1= t('aboutnesses.index.subject_headings')
%p=  t('aboutnesses.index.manage_subject_headings', title: @embodiment.expression&.title || 'Untitled')

.row
  .col-xs-12
    %h2 Current Subject Headings
    - if @aboutnesses.any?
      = render 'list', aboutnesses: @aboutnesses
    - else
      %p.text-muted No subject headings assigned yet.

    %p
      = link_to 'Add Subject Heading', new_embodiment_aboutness_path(@embodiment), class: 'btn btn-primary'
      - if @embodiment.manifestation&.toc
        = link_to 'Back to ToC', toc_path(@embodiment.manifestation.toc), class: 'btn btn-default'
